/* much of this was imported from topquadrant.com/TQ.css */

body {
    font-family: Arial, Helvetica, sans-serif;
    margin: .25in 1.2in .25in 1in; /* t,r,b,l */
}

a:link, a:visited { Color: #333333; }

a:hover, a:active { color: #4859C0; }

a.containingBookLink, .footer a {
  text-decoration: none;
  font-size: 10pt;
 font-weight: bold;
}

.footer {
  font-size: 10pt;
}

h1, h2, h3 { color: #4859C0; }

h1 {
    font-size: 28px;
    line-height: 42px;
    margin-bottom: 5px;
    padding-bottom: 0px;
}

h2 {
    font-size: 24px;
    margin-bottom: 5px;
    padding-bottom: 0px;
    font-variant: normal;
    line-height: 22px;
    margin-top: 14px;
    padding-top: 0px;
}

h3 {
    font-size: 18px;
    margin-bottom: 0px;
    padding-bottom: 0px;
    font-variant: normal;
    line-height: 22px;
    margin-top: 14px;
    padding-top: 0px;
}

h4 { font-size: 12pt; margin-top: 14pt; }

li { margin-top: 4px; margin-bottom: 4px; }

li > ul {
    margin-top: 0px;
}

ul {
    margin-top: 10px;
    margin-bottom: 0px;
    padding-top: 0px;
    padding-bottom: 0px;
    margin-left: 10px;
    padding-left: 10px;
}

div.hr {
    border-bottom-style:solid;
    border-bottom-width:1px;
    height: 1px;
    border-bottom-color: #999999;
    margin-top: 10px;
    margin-bottom: 10px;
}

div.hr {
    border-bottom-style:solid;
    border-bottom-width:1px;
    height: 1px;
    border-bottom-color: #999999;
    margin-top: 10px;
    margin-bottom: 10px;
}

hr {
    border:none;
    height: 1px;
    background: #999999;
    margin-top: 10px;
    margin-bottom: 10px;
}

/* When link is a child of li, it's probably the whole li and
   functioning as a TOC link, so underlines clutter it up. */
li > a { text-decoration: none }

.note,.caution,.tip {margin-top: 16pt; margin-bottom: 16pt; background-color: #eeeeee; padding: 10pt; padding-bottom: 16pt; }

dfn.term { font-weight: bold; }

.uicontrol { font-weight: bold; }

div.imagecenter { text-align: center }

table {
    border-spacing: 0;
    border-collapse:    collapse;
    border-bottom:  3px solid #4859C0;
}

th {
 font-weight: bold;
  background: #4859C0;
 color:  #fff;
 padding:    3px 5px;
 text-align: left;
}

td {
    padding:    3px 10px 8px;
    border-top: 1px solid #ddd;
    border-left: 1px solid #ddd;
    border-right: 1px solid #ddd;
    vertical-align:top;
}

td.blank {
  border: 0px;
}

/* Table Of Contents */

.toc a .secno {
  color: black;
}

ul.toc {
  list-style: none outside none;
}

/* admonitions (wrapper for <img src="icon-*.jpg"/><p></p>) */
div.admon      {
  margin-bottom: 16pt;
  margin-top: 16pt;
  background-color: #eeeeee;
  padding: 10pt;
  padding-bottom: 16pt;
}

img.button     { width: 32px; }
img.fullscreen { width: 66%; }
img.icon       { width: 60px; }
