/* ============ */
/* utitlies.css */
/* ============ */


[href] {
    cursor: pointer;
}

.nowrap {
    white-space: nowrap;
}

/* TODO: this is a bad utility function, remove this and any references to it from within our app */
.swa-hidden {
    visibility: hidden;
}

.swa-none {
    visibility: none;
}

.swa-clear-both {
    clear: both;
}

.swa-clear-right {
    clear: right;
}
/* TODO: should not need !important, remove it; */
.swa-display-none {
    display: none !important;
}

.swa-word-wrap-break-word {
    word-wrap:break-word;
}

.swa-white-space-no-wrap {
    white-space: nowrap;
}

/* TODO: ensure this doesn't prevent JAWS or VoiceOver from reading aloud the autocomplete options; */
.ui-helper-hidden-accessible {
    display: none;
}

.swa-align-top {
    vertical-align: top;
}

.swa-bold-font {
    font-weight: bold
}

.swa-border-top-style-none {
    border-top-style: none;
}

.swa-color-orange {
    color: orange;
}

.swa-color-grey {
    color: grey;
}

.swa-background-yelow {
    background-color: yellow;
}

.swa-error {
    color: red;
}

.swa-float-left {
    float: left;
}

.swa-float-right {
    float: right;
}

.swa-font-italic {
    font-style: italic;
}

.swa-font-small {
    font-size: small;
}

.swa-font-smaller {
    font-size: smaller;
}

.swa-font-sans-serif {
    font-family: sans-serif;
}
.swa-overflow-auto {
    overflow: auto;
}

.swa-width-auto {
    width: auto;
}

.swa-width-one-hundred-percent {
    width: 100%;
}

.swa-width-height-one-hundred-percent {
    width: 100%;
    height: 100%;
}

.swa-padding-zero {
    padding: 0;
}

.swa-padding-left-zero {
    padding-left: 0px;
}

.swa-margn-top-five {
    margin-top: 5px;
}
.swa-margin-bottom-zero {
    margin-bottom: 0;
}

.swa-text-align-right {
    text-align: right;
}

.swa-text-align-left {
    text-align: left;
}

.swa-text-align-center {
    text-align: center;
}
/*
    TODO: shouldn't need !important
    Also this should be renamed as .inline-block considering what it actually does (has nothing to do with an icon)
    Rename it and update references within the application source
*/
.swa-icon {
    display: inline-block !important;
}

/*
    This should be used in place of the class above. All references
    to .swa-icon should be changed to use this one.
*/
.inline-block {
    display: inline-block;
}

.swa-image {
    border: 1px solid black;
}

.swa-list-padding {
	margin: 0 0 10px 0;
}

.tq-yasr-results-container{
  width:100%;
  overflow:auto;
}

.yasr .sortIcons {
  display:none;
}

/* Bootstrap class overrides */

.modal-dialog{
    overflow-y: initial !important
}
.modal-body{
    max-height: 500px;
    overflow-y: auto;
}
.checkbox {
    margin-left: 25px;
}

.checkbox label {
    padding-left: 0px;
}

.form-control {
	width: auto;
	display: inline-block;
}

textarea.form-control {
    overflow: hidden;
    margin-top: 10px;
    margin-bottom: 5px;
}

select.form-control {
    padding: 0px 12px;
}

.btn-xs {
    min-height: 22px;
}

.btn-margin-right-8px {
	margin-right: 8px;
}

[data-page-type$="avro-export"] td.swa-relevant-properties .checkbox{
   margin-top:0 !important;
}

/* ENDS */

