# =================
# reactivegram.css
# =================

.pending-value-container {
	border: 1px solid black;
	background: rgba(0, 0, 0, 0.10);
	margin: 10px;
	padding: 5px;
}

.butler-button-bar{
	display:flex;
	flex-direction:column;
	width:160px;
	position:fixed;
	z-index:100;
	top:100px;
	left:20px;
	background:#5985b4;
	padding:5px;
	border:1px solid black;
}

.butler-button{
	text-align:left;
	font-family: sans-serif;
}

.butler-validation-on{
	background-color:gold;
}

.butler-validation-off{
	background-color:grey;
}

.butler-class-node {
	padding: 10px 0px;
}

.butler-button-bar > *{
	margin-bottom:5px;
}

.butler-instance-details {
	background-color: lightyellow; 
	border-width: 1px; 
	border-style: dashed; 
	width:100%;
	max-height: 185px;
    overflow-y: auto;
    text-align: center;
}

.butler-instance-details .row {
	    margin: 0px;
}

.butler-instance-header {
	font-size: 14px;
	height: 35px;
	max-width: 265px;
	text-align: center;
	text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
	border-width: 2px; 
	border-style: solid;
	border-color: black;
	border-radius: 15px;
	position: relative;
}

.butler-instance-header-stacked {
	font-size: 14px;
	height: 35px;
	max-width: 265px;
	text-align: center;
	text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
	
	border-width: 2px; 
	border-style: solid;
	border-color: black;
	border-radius: 15px;
	position: relative;
	box-shadow:
    /* The top layer shadow */
    0 1px 1px rgba(0,0,0,0.15),
    /* The second layer */
    0 10px 0 -5px #eee,
    /* The second layer shadow */
    0 10px 1px -4px rgba(0,0,0,0.15),
     /* The third layer */
    0 20px 0 -10px #eee,
    /* The third layer shadow */
    0 20px 1px -9px rgba(0,0,0,0.15);
}

bg-yellow {
	background-color: lightyellow; 
}

.butler-link {
	vertical-align: sub;
}

.butler-link:hover{
	cursor:pointer;
}

#butler-mast.in-workflow {
    background: #f8f6da;
}

.swa-facets-results-gadget > .ui-layout-content {
	width: 268px;
}

.swauml-instance-pagination {
	text-align: center;	
}

.swauml-instance-node {
	max-width: 300px;
}

.swauml-instance-node-root {
	border: 2px solid black;
    position: absolute;
	width: 800px;
	height: 350px;
}

.swauml-instance-node-root > .swauml-instance-attributes {
	background-color: #fefefe;
    border-top: 2px solid black;

    padding-top: 4px;
    font-size: 13px;
    height: 298px;
}


.swauml-instance-attributes {
    background-color: #fefefe;
    border-top: 2px solid black;
    padding-left: 8px;
    padding-right: 8px;
    padding-top: 4px;
    font-size: 13px;
    height: 300px;
}

.swauml-instance-attributes-empty {
    background-color: #fefefe;
    border-top: 2px solid black;
    padding-left: 8px;
    padding-right: 8px;
    padding-top: 4px;
    font-size: 13px;
    height: 150px;
}

.swauml-instance-header-reactive {
	background-color: azure;
	padding-left: 5px;
	padding-right: 5px;
}

.swauml-instance-header-reactive a {
	text-decoration: none;
}

.swauml-instance-header-area {
	display: grid;
	grid-template-columns:auto auto auto;
	width: 280px;
}

.swa-shifted-label {
    align-self: center;
}

.swauml-instance-header-area > .swa-shifted-label, 
.swauml-instance-header > .swa-shifted-label {
	text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    font-size: 16px;
	font-weight: 600;
}

.swauml-instance-count {
	align-self: center;
	font-size: 20px;
	font-weight: 700;
	padding-right: 3px;
}

.swauml-instance-diagram-butler {
	margin-bottom: 8%;
    background-color: #f3f3f3;
    border: 1px solid #c0c0c0;
    position: relative;
    top: 30px;
    margin-left:auto;
    margin-right:auto;
}

.butler-breadcrumbs {
	font-size: 16px;
	font-weight: 700;
	cursor: pointer;
}

.filters-container .filters .filters-well .tb-labeled-filter .tb-resource-type-select
	{
	width: 450px;
}

.filters-container .filters .filters-well .tb-labeled-filter .tb-resource-type-select .quick-jump,
	.filters-container .filters .filters-well .tb-labeled-filter .tb-resource-type-select .section
	{
	width: 400px;
}

.filters-container .filters .filters-well .free-text-search {
	width:400px;
}

.violation.lead{
	margin-bottom:unset;
}

.violation.alert{
	padding:unset;
	margin-bottom:unset;
}
